.metadata
.recommenders
.settings
.classpath
.project
SpringBootMavenPractise/target
SpringBootMavenPractise/.mvn
SpringBootMavenPractise/.settings
SpringBootMavenPractise/.project
SpringBootMavenPractise/.classpath
